Using the analysis below, I observed the following trends

### 1. Charter schools outperform District schools
When looking at the comparison of charter versus district schools as well as the top schools overall (in terms of percentage of students passing math and reading), it is clear that charter schools outperform district schools. Per the data, charter schools test higher in both reading and math and have they a higher percentage of students that pass both their reading and math tests. I think a common assumption would be that if a school had a higher budget per student, test scores would be higher as they'd have the financial resources to ensure the education of the students, but that doesn't seem to be the case. Most district schools have a higher budget per student than charter schools but are testing lower. I believe what really makes a difference is the size of the school. The data shows that the lower the student population, the higher the their test results are. What's not included in this dataset are the class sizes, which I could see playing a big role in detemining if school size is actually a factor. If charter and district schools had different student populations but the same class sizes, we'd have to look somewhere else to determine why charter schools are outperforming district ones.

### 2.

In [8]:
import pandas as pd

# Read School and Student Data File and store into Pandas DataFrames
df_students = pd.read_csv('Resources/students_complete.csv', delimiter=",")
df_schools = pd.read_csv('Resources/schools_complete.csv', delimiter=",")

# Combine the data into a single dataset.
df_student_schools = df_students.merge(df_schools, on="school_name", how='left')

df_student_schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [9]:
total_schools = len(df_schools)
total_students = len(df_students)
total_budget = f'${df_schools["budget"].sum():,}'
average_math_score = round(df_students['math_score'].mean())
average_reading_score = round(df_students['reading_score'].mean())
percent_pass_math = '{:.0%}'.format(len(df_students.loc[df_students['math_score'] >= 70])/total_students)
percent_pass_reading = '{:.0%}'.format(len(df_students.loc[df_students['reading_score'] >= 70])/total_students)
percent_pass_math_and_reading = '{:.0%}'.format(len(df_students.loc[(df_students['reading_score'] >= 70) & (df_students['math_score'] >= 70)])/total_students)

df_district_summary = pd.DataFrame({
    'Total Number of Schools': [total_schools],
    'Total Number of Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [percent_pass_math],
    '% Reading': [percent_pass_reading],
    '% Passing Overall': [percent_pass_math_and_reading]
})

df_district_summary.head()

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Reading,% Passing Overall
0,15,39170,"$24,649,428",79,82,75%,86%,65%

# School Summary

In [18]:
df_grouped_schools = df_student_schools.groupby(["school_name", "type"])

df_total_students = df_grouped_schools['Student ID'].count()
df_total_budget = df_grouped_schools['budget'].max() # Since each school has 1 budget, just use max to get the budget of each school
df_budget_per_student = df_grouped_schools['budget'].max()/df_grouped_schools['Student ID'].count()
df_average_math_score = df_grouped_schools['math_score'].mean()
df_average_reading_score = df_grouped_schools['reading_score'].mean()
df_percent_pass_math = df_grouped_schools.apply(lambda x: x[x['math_score'] >= 70]['Student ID'].count()/x['Student ID'].count())
df_percent_pass_reading = df_grouped_schools.apply(lambda x: x[x['reading_score'] >= 70]['Student ID'].count()/x['Student ID'].count())
df_percent_pass_math_and_reading = df_grouped_schools.apply(lambda x: x[(x['math_score'] >= 70) & (x['reading_score'] >= 70)]['Student ID'].count()/x['Student ID'].count())

df_school_summary = pd.DataFrame({
    'Number of Students': df_total_students,
    'Budget': df_total_budget,
    'Budget Per Student': df_budget_per_student,
    'Average Math Score': df_average_math_score,
    'Average Reading Score': df_average_reading_score,
    '% Passing Math': df_percent_pass_math,
    '% Passing Reading': df_percent_pass_reading,
    '% Passing Overall': df_percent_pass_math_and_reading
})

df_school_summary_formatted = df_school_summary.copy()

df_school_summary_formatted['Budget'] = df_school_summary_formatted['Budget'].map("${:,.0f}".format)
df_school_summary_formatted['Budget Per Student'] = df_school_summary_formatted['Budget Per Student'].map("${:,.0f}".format)
df_school_summary_formatted['Average Math Score'] = df_school_summary_formatted['Average Math Score'].map("{:.0f}".format)
df_school_summary_formatted['Average Reading Score'] = df_school_summary_formatted['Average Reading Score'].map("{:.0f}".format)
df_school_summary_formatted['% Passing Math'] = df_school_summary_formatted['% Passing Math'].map("{:.0%}".format)
df_school_summary_formatted['% Passing Reading'] = df_school_summary_formatted['% Passing Reading'].map("{:.0%}".format)
df_school_summary_formatted['% Passing Overall'] = df_school_summary_formatted['% Passing Overall'].map("{:.0%}".format)


df_school_summary_formatted

,,Number of Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,type,,,,,,,,
Bailey High School,District,4976,"$3,124,928",$628,77,81,67%,82%,55%
Cabrera High School,Charter,1858,"$1,081,356",$582,83,84,94%,97%,91%
Figueroa High School,District,2949,"$1,884,411",$639,77,81,66%,81%,53%
Ford High School,District,2739,"$1,763,916",$644,77,81,68%,79%,54%
Griffin High School,Charter,1468,"$917,500",$625,83,84,93%,97%,91%
Hernandez High School,District,4635,"$3,022,020",$652,77,81,67%,81%,54%
Holden High School,Charter,427,"$248,087",$581,84,84,93%,96%,89%
Huang High School,District,2917,"$1,910,635",$655,77,81,66%,81%,54%
Johnson High School,District,4761,"$3,094,650",$650,77,81,66%,81%,54%
Pena High School,Charter,962,"$585,858",$609,84,84,95%,96%,91%
Rodriguez High School,District,3999,"$2,547,363",$637,77,81,66%,80%,53%
Shelton High School,Charter,1761,"$1,056,600",$600,83,84,94%,96%,90%
Thomas High School,Charter,1635,"$1,043,130",$638,83,84,93%,97%,91%
Wilson High School,Charter,2283,"$1,319,574",$578,83,84,94%,97%,91%
Wright High School,Charter,1800,"$1,049,400",$583,84,84,93%,97%,90%

# Top Performing Schools (By % Overall Passing)

In [11]:
df_top_performing_schools = df_school_summary.nlargest(5, '% Passing Overall')

df_top_performing_schools['Budget'] = df_top_performing_schools['Budget'].map("${:,.0f}".format)
df_top_performing_schools['Budget Per Student'] = df_top_performing_schools['Budget Per Student'].map("${:,.0f}".format)
df_top_performing_schools['Average Math Score'] = df_top_performing_schools['Average Math Score'].map("{:.0f}".format)
df_top_performing_schools['Average Reading Score'] = df_top_performing_schools['Average Reading Score'].map("{:.0f}".format)
df_top_performing_schools['% Passing Math'] = df_top_performing_schools['% Passing Math'].map("{:.0%}".format)
df_top_performing_schools['% Passing Reading'] = df_top_performing_schools['% Passing Reading'].map("{:.0%}".format)
df_top_performing_schools['% Passing Overall'] = df_top_performing_schools['% Passing Overall'].map("{:.0%}".format)

df_top_performing_schools

,,Number of Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356",$582,83,84,94%,97%,91%
Thomas High School,Charter,1635,"$1,043,130",$638,83,84,93%,97%,91%
Griffin High School,Charter,1468,"$917,500",$625,83,84,93%,97%,91%
Wilson High School,Charter,2283,"$1,319,574",$578,83,84,94%,97%,91%
Pena High School,Charter,962,"$585,858",$609,84,84,95%,96%,91%

# Bottom Performing Schools (By % Overall Passing)

In [12]:
df_bottom_performing_schools = df_school_summary.nsmallest(5, '% Passing Overall')

df_bottom_performing_schools['Budget'] = df_bottom_performing_schools['Budget'].map("${:,.0f}".format)
df_bottom_performing_schools['Budget Per Student'] = df_bottom_performing_schools['Budget Per Student'].map("${:,.0f}".format)
df_bottom_performing_schools['Average Math Score'] = df_bottom_performing_schools['Average Math Score'].map("{:.0f}".format)
df_bottom_performing_schools['Average Reading Score'] = df_bottom_performing_schools['Average Reading Score'].map("{:.0f}".format)
df_bottom_performing_schools['% Passing Math'] = df_bottom_performing_schools['% Passing Math'].map("{:.0%}".format)
df_bottom_performing_schools['% Passing Reading'] = df_bottom_performing_schools['% Passing Reading'].map("{:.0%}".format)
df_bottom_performing_schools['% Passing Overall'] = df_bottom_performing_schools['% Passing Overall'].map("{:.0%}".format)

df_bottom_performing_schools

,,Number of Students,Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,type,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363",$637,77,81,66%,80%,53%
Figueroa High School,District,2949,"$1,884,411",$639,77,81,66%,81%,53%
Huang High School,District,2917,"$1,910,635",$655,77,81,66%,81%,54%
Hernandez High School,District,4635,"$3,022,020",$652,77,81,67%,81%,54%
Johnson High School,District,4761,"$3,094,650",$650,77,81,66%,81%,54%

# Math Scores by Grade

In [13]:
df_grouped_school_grade_9 = df_student_schools.loc[df_student_schools['grade'] == '9th'].groupby('school_name')
df_grouped_school_grade_10 = df_student_schools.loc[df_student_schools['grade'] == '10th'].groupby('school_name')
df_grouped_school_grade_11 = df_student_schools.loc[df_student_schools['grade'] == '11th'].groupby('school_name')
df_grouped_school_grade_12 = df_student_schools.loc[df_student_schools['grade'] == '12th'].groupby('school_name')

df_math_scores_by_grade = pd.DataFrame({
    '9th': df_grouped_school_grade_9['math_score'].mean().map("{:.0f}".format),
    '10th': df_grouped_school_grade_10['math_score'].mean().map("{:.0f}".format),
    '11th': df_grouped_school_grade_11['math_score'].mean().map("{:.0f}".format),
    '12th': df_grouped_school_grade_12['math_score'].mean().map("{:.0f}".format),
})

df_math_scores_by_grade

                      9th 10th 11th 12th
school_name
Bailey High School     77   77   78   76
Cabrera High School    83   83   83   83
Figueroa High School   76   77   77   77
Ford High School       77   78   77   76
Griffin High School    82   84   84   83
Hernandez High School  77   77   77   77
Holden High School     84   83   85   83
Huang High School      77   76   76   77
Johnson High School    77   77   77   77
Pena High School       84   83   84   84
Rodriguez High School  77   77   76   78
Shelton High School    83   83   83   84
Thomas High School     84   83   83   83
Wilson High School     83   84   83   83
Wright High School     83   84   84   84

#  Reading Score by Grade

In [14]:
df_reading_scores_by_grade = pd.DataFrame({
    '9th': df_grouped_school_grade_9['reading_score'].mean().map("{:.0f}".format),
    '10th': df_grouped_school_grade_10['reading_score'].mean().map("{:.0f}".format),
    '11th': df_grouped_school_grade_11['reading_score'].mean().map("{:.0f}".format),
    '12th': df_grouped_school_grade_12['reading_score'].mean().map("{:.0f}".format),
})

df_reading_scores_by_grade

                      9th 10th 11th 12th
school_name
Bailey High School     81   81   81   81
Cabrera High School    84   84   84   84
Figueroa High School   81   81   81   81
Ford High School       81   81   80   81
Griffin High School    83   84   84   84
Hernandez High School  81   81   81   81
Holden High School     84   83   84   85
Huang High School      81   82   81   80
Johnson High School    81   81   81   81
Pena High School       84   84   84   85
Rodriguez High School  81   81   81   80
Shelton High School    84   83   84   83
Thomas High School     84   84   84   84
Wilson High School     84   84   84   84
Wright High School     84   84   84   84

# Scores by School Spending

In [15]:
df_student_school_summary = df_students.merge(df_school_summary[['Budget Per Student']], on='school_name', how='left')

bins = [0, 584, 629, 644, 675]
bin_names = ['<$584', '$585-629', '$630-644', '$645-675']

df_student_school_summary["Spending Ranges (Per Student)"] = pd.cut(df_student_school_summary["Budget Per Student"], bins, labels=bin_names, include_lowest=True)

df_grouped_spend_per_student = df_student_school_summary.groupby('Spending Ranges (Per Student)')

df_scores_by_spending_summary = pd.DataFrame({
    'Average Math Score': df_grouped_spend_per_student['math_score'].mean().map("{:.0f}".format),
    'Average Reading Score': df_grouped_spend_per_student['reading_score'].mean().map("{:.0f}".format),
    '% Passing Math': df_grouped_spend_per_student.apply(lambda x: x[x['math_score'] >= 70]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format),
    '% Passing Reading': df_grouped_spend_per_student.apply(lambda x: x[x['reading_score'] >= 70]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format),
    '% Overall Passing': df_grouped_spend_per_student.apply(lambda x: x[(x['math_score'] >= 70) & (x['reading_score'] >= 70)]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format)
})

df_scores_by_spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83,84,94%,97%,91%
$585-629,80,82,79%,89%,71%
$630-644,78,81,71%,83%,59%
$645-675,77,81,66%,81%,54%

# Scores by School Size

In [16]:
bins = [0, 999, 1999, 5000]
bin_names = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

df_student_schools["School Size"] = pd.cut(df_student_schools["size"], bins, labels=bin_names, include_lowest=True)

df_grouped_school_size = df_student_schools.groupby('School Size')

df_school_size_summary = pd.DataFrame({
    'Average Math Score': df_grouped_school_size['math_score'].mean().map("{:.0f}".format),
    'Average Reading Score': df_grouped_school_size['reading_score'].mean().map("{:.0f}".format),
    '% Passing Math': df_grouped_school_size.apply(lambda x: x[x['math_score'] >= 70]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format),
    '% Passing Reading': df_grouped_school_size.apply(lambda x: x[x['reading_score'] >= 70]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format),
    '% Overall Passing': df_grouped_school_size.apply(lambda x: x[(x['math_score'] >= 70) & (x['reading_score'] >= 70)]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format)
})

df_school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),84,84,94%,96%,90%
Medium (1000-2000),83,84,94%,97%,91%
Large (2000-5000),77,81,69%,82%,57%

# Scores by School Type

In [17]:

df_grouped_school_type = df_student_schools.groupby('type')

df_school_type_summary = pd.DataFrame({
    'Average Math Score': df_grouped_school_type['math_score'].mean().map("{:.0f}".format),
    'Average Reading Score': df_grouped_school_type['reading_score'].mean().map("{:.0f}".format),
    '% Passing Math': df_grouped_school_type.apply(lambda x: x[x['math_score'] >= 70]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format),
    '% Passing Reading': df_grouped_school_type.apply(lambda x: x[x['reading_score'] >= 70]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format),
    '% Overall Passing': df_grouped_school_type.apply(lambda x: x[(x['math_score'] >= 70) & (x['reading_score'] >= 70)]['Student ID'].count()/x['Student ID'].count()).map("{:.0%}".format)
})

df_school_type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83,84,94%,97%,91%
District,77,81,67%,81%,54%